In [1]:
import numpy as np
import pandas as pd
import json
from sklearn.linear_model import BayesianRidge, Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import VotingRegressor, AdaBoostRegressor

In [2]:
df = pd.read_csv('extracted_dataset.csv')
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,GPA,Standing,Completed Credits,Completed ECTS,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,UNI 113,Textual Analysis and Effective Com. I,351,IE,Undergraduate,A+,Successful,4.05,Freshman,18,30,4.050000,2.120833,2.703226,2010 - Fall,3,0,3,5,1
1,MGT 511,Küresel Yönetim Düşüncesi,1182,MBA/NT,Graduate,A-,Successful,3.54,Freshman,15,25,3.540000,3.576471,3.324211,2010 - Fall,3,0,3,5,5
2,MGT 521,Yönetim ve Organizasyon,1182,MBA/NT,Graduate,B+,Successful,3.54,Freshman,15,25,3.540000,3.371429,3.324211,2010 - Fall,3,0,3,5,5
3,MGT 521,Yönetim ve Organizasyon,1181,MBA/NT,Graduate,B+,Successful,3.38,Freshman,15,25,3.380000,3.371429,3.324211,2010 - Fall,3,0,3,5,5
4,MGT 531,Stratejik Yönetim,1181,MBA/NT,Graduate,B+,Successful,3.38,Freshman,15,25,3.380000,3.227273,3.324211,2010 - Fall,3,0,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49342,IE 451,Project Management,2003,EE,Undergraduate,B+,Successful,2.52,Junior,18,30,3.300000,2.673585,2.496850,2014 - Spring,3,0,3,5,4
49343,ENGR 251,Probability for Engineers,1311,EE,Undergraduate,A-,Successful,2.14,Sophomore,15,25,3.000000,2.206105,1.990188,2014 - Spring,3,0,3,5,2
49344,EE 321,Electromagnetics,2003,EE,Undergraduate,B,Successful,2.52,Junior,18,30,2.540000,2.278049,2.476489,2014 - Spring,3,0,3,5,3
49345,CTV 212,Editing,173,CTV,Undergraduate,C+,Successful,2.08,Sophomore,18,30,2.488889,2.693056,2.924132,2014 - Spring,3,0,3,5,2
49346,UNI 202,Formations of Modern Turkey II,1608,PSY,Undergraduate,A-,Successful,3.36,Sophomore,15,25,3.600000,2.603056,2.448116,2014 - Spring,3,0,3,5,2

In [3]:
grad_courses = []
for idx in df.index:
    if df.iloc[idx, 19] > 4:
        grad_courses.append(idx)
for row_index in grad_courses:
    df.drop(row_index, inplace=True)
df.index = range(len(df))
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,GPA,Standing,Completed Credits,Completed ECTS,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,UNI 113,Textual Analysis and Effective Com. I,351,IE,Undergraduate,A+,Successful,4.05,Freshman,18,30,4.050000,2.120833,2.703226,2010 - Fall,3,0,3,5,1
1,UNI 203,Understanding Science and Technology,240,SOC,Undergraduate,B,Successful,2.62,Freshman,18,30,2.616667,3.176000,2.703226,2010 - Fall,3,0,3,5,2
2,UNI 105,Understanding Society and Culture I,240,SOC,Undergraduate,A,Successful,2.62,Freshman,18,30,2.616667,3.211538,2.703226,2010 - Fall,3,0,3,5,1
3,UNI 107,World Civilizations& Global Encounters I,240,SOC,Undergraduate,A,Successful,2.62,Freshman,18,30,2.616667,2.986364,2.703226,2010 - Fall,3,0,3,5,1
4,UNI 111,Critical Reading & Writing in Turkish I,240,SOC,Undergraduate,F,Unsuccessful,2.62,Freshman,18,30,2.616667,2.113636,2.703226,2010 - Fall,3,0,3,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43699,IE 451,Project Management,2003,EE,Undergraduate,B+,Successful,2.52,Junior,18,30,3.300000,2.673585,2.496850,2014 - Spring,3,0,3,5,4
43700,ENGR 251,Probability for Engineers,1311,EE,Undergraduate,A-,Successful,2.14,Sophomore,15,25,3.000000,2.206105,1.990188,2014 - Spring,3,0,3,5,2
43701,EE 321,Electromagnetics,2003,EE,Undergraduate,B,Successful,2.52,Junior,18,30,2.540000,2.278049,2.476489,2014 - Spring,3,0,3,5,3
43702,CTV 212,Editing,173,CTV,Undergraduate,C+,Successful,2.08,Sophomore,18,30,2.488889,2.693056,2.924132,2014 - Spring,3,0,3,5,2
43703,UNI 202,Formations of Modern Turkey II,1608,PSY,Undergraduate,A-,Successful,3.36,Sophomore,15,25,3.600000,2.603056,2.448116,2014 - Spring,3,0,3,5,2

In [4]:
df.drop([df.columns[0], df.columns[1], df.columns[2]], inplace=True, axis=1)
df.head()

,Department Code,Course Level,Letter Grade,Status,GPA,Standing,Completed Credits,Completed ECTS,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,IE,Undergraduate,A+,Successful,4.05,Freshman,18,30,4.050000,2.120833,2.703226,2010 - Fall,3,0,3,5,1
1,SOC,Undergraduate,B,Successful,2.62,Freshman,18,30,2.616667,3.176000,2.703226,2010 - Fall,3,0,3,5,2
2,SOC,Undergraduate,A,Successful,2.62,Freshman,18,30,2.616667,3.211538,2.703226,2010 - Fall,3,0,3,5,1
3,SOC,Undergraduate,A,Successful,2.62,Freshman,18,30,2.616667,2.986364,2.703226,2010 - Fall,3,0,3,5,1
4,SOC,Undergraduate,F,Unsuccessful,2.62,Freshman,18,30,2.616667,2.113636,2.703226,2010 - Fall,3,0,3,5,1

In [5]:
df = pd.concat([df, pd.get_dummies(df['Course Year'], prefix='Course Year'), pd.get_dummies(df['Department Code'], prefix='Department Code'), pd.get_dummies(df['Course Level'], prefix='Course Level'), pd.get_dummies(df['Standing'], prefix='Standing'), pd.get_dummies(df['Status'], prefix='Status')], axis=1)
df.drop(['Course Year', 'Department Code', 'Course Level', 'Status', 'Standing'], axis=1, inplace=True)
df

,Letter Grade,GPA,Completed Credits,Completed ECTS,GPA Student - Subject,Avg. Grade - Taken,Avg. Grade - Students_Subject,Semester,Theoritical,Practical,...,Department Code_İHP,Course Level_Graduate,Course Level_Undergraduate,Standing_Freshman,Standing_Junior,Standing_Senior,Standing_Sophomore,Status_Recorded,Status_Successful,Status_Unsuccessful
0,A+,4.05,18,30,4.050000,2.120833,2.703226,2010 - Fall,3,0,...,0,0,1,1,0,0,0,0,1,0
1,B,2.62,18,30,2.616667,3.176000,2.703226,2010 - Fall,3,0,...,0,0,1,1,0,0,0,0,1,0
2,A,2.62,18,30,2.616667,3.211538,2.703226,2010 - Fall,3,0,...,0,0,1,1,0,0,0,0,1,0
3,A,2.62,18,30,2.616667,2.986364,2.703226,2010 - Fall,3,0,...,0,0,1,1,0,0,0,0,1,0
4,F,2.62,18,30,2.616667,2.113636,2.703226,2010 - Fall,3,0,...,0,0,1,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43699,B+,2.52,18,30,3.300000,2.673585,2.496850,2014 - Spring,3,0,...,0,0,1,0,1,0,0,0,1,0
43700,A-,2.14,15,25,3.000000,2.206105,1.990188,2014 - Spring,3,0,...,0,0,1,0,0,0,1,0,1,0
43701,B,2.52,18,30,2.540000,2.278049,2.476489,2014 - Spring,3,0,...,0,0,1,0,1,0,0,0,1,0
43702,C+,2.08,18,30,2.488889,2.693056,2.924132,2014 - Spring,3,0,...,0,0,1,0,0,0,1,0,1,0
43703,A-,3.36,15,25,3.600000,2.603056,2.448116,2014 - Spring,3,0,...,0,0,1,0,0,0,1,0,1,0

In [6]:
columns = df.columns
columns

Index(['Letter Grade', 'GPA', 'Completed Credits', 'Completed ECTS',
       'GPA Student - Subject', 'Avg. Grade - Taken',
       'Avg. Grade - Students_Subject', 'Semester', 'Theoritical', 'Practical',
       'Course Credit', 'ECTS', 'Course Year_1', 'Course Year_2',
       'Course Year_3', 'Course Year_4', 'Department Code_CS',
       'Department Code_CTV', 'Department Code_CULT/T',
       'Department Code_ECE/NT', 'Department Code_ECE/T', 'Department Code_EE',
       'Department Code_HIST', 'Department Code_HIST PhD',
       'Department Code_HIST/T', 'Department Code_HUK', 'Department Code_IE',
       'Department Code_ISE/NT', 'Department Code_ISE/T',
       'Department Code_ISS', 'Department Code_ITM', 'Department Code_KHUK/T',
       'Department Code_LIT', 'Department Code_MGT', 'Department Code_MTS/T',
       'Department Code_PHIL', 'Department Code_POLS',
       'Department Code_POLS/NT', 'Department Code_POLS/T',
       'Department Code_PSY', 'Department Code_SOC', 'Department Code_SOC/T',
       'Department Code_ÖHUK/NT', 'Department Code_İHP',
       'Course Level_Graduate', 'Course Level_Undergraduate',
       'Standing_Freshman', 'Standing_Junior', 'Standing_Senior',
       'Standing_Sophomore', 'Status_Recorded', 'Status_Successful',
       'Status_Unsuccessful'],
      dtype='object')

In [7]:
le = LabelEncoder()
le.fit(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F'])

LabelEncoder()

In [8]:
def get_train_data(df, train_sem, columns):
    dataFrame = pd.DataFrame(columns=columns)
    for sem in train_sem:
        dataFrame = pd.concat([dataFrame, df[df.iloc[:, 7] == sem]], ignore_index=True)
    for idx in dataFrame.index:
        semester = dataFrame.iloc[idx, 7]
        dataFrame.iloc[idx, 7] = semester.split()[2].strip()
    
    X_train = dataFrame.drop('Semester', axis=1)
    y_train = le.transform(X_train.pop('Letter Grade'))
    return X_train, y_train

In [9]:
def normalize_X(X):
    cols = X.columns
    sc = StandardScaler()
    X = sc.fit_transform(X)
    return pd.DataFrame(X, columns=cols)

In [10]:
sorted_semesters = sorted(set(df.iloc[:, 7]))
training_sem = sorted_semesters[:len(sorted_semesters)-1]

In [11]:
X_train, y_train = get_train_data(df, training_sem, columns)

In [12]:
X_train = normalize_X(X_train)

In [13]:
def tune_params(model, param_grid, X_train, y_train):
    gridsearch_CV = GridSearchCV(model, param_grid, cv=10, n_jobs=-1)
    gridsearch_CV.fit(X_train, y_train)
    return gridsearch_CV.best_params_

In [14]:
adaboost_param_grid = {'n_estimators': [20, 50, 100, 200, 1000], 'loss': ['linear', 'square', 'exponential']}
best_ab = tune_params(AdaBoostRegressor(), adaboost_param_grid, X_train, y_train)
adaboost_params = {}
with open('adaboost_tuned_params.json', 'w') as file:
    adaboost_params['tuned_adaboost'] = best_ab
    json.dump(adaboost_params, file)

In [15]:
bayesian_param_grid = {'n_iter': [300, 800, 1500], 'alpha_1': [1e-4, 1e-6, 1e-8], 'alpha_2': [1e-4, 1e-6, 1e-8], 'lambda_1': [1e-4, 1e-6, 1e-8], 'lambda_2': [1e-4, 1e-6, 1e-8]}
best_br = tune_params(BayesianRidge(), bayesian_param_grid, X_train, y_train)
bayesian_params = {}
with open('bayesian_tuned_params.json', 'w') as file:
    bayesian_params['tuned_bayesian'] = best_br
    json.dump(bayesian_params, file)

In [16]:
ridge_param_grid = {'alpha': [0.01, 0.2, 1.0, 10.0, 20.0, 50.0, 100.0, 500.0]}
best_r = tune_params(Ridge(), ridge_param_grid, X_train, y_train)
ridge_params = {}
with open('ridge_tuned_params.json', 'w') as file:
    ridge_params['tuned_ridge'] = best_r
    json.dump(ridge_params, file)