In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('original_dataset.csv')
df = df.rename(columns={'Kod': 'Course Code', 'Tanım': 'Course Title', 'Öğrenci No': 'Student Number', 'Bölüm': 'Department Code', 'Bölüm (tanım)': 'Course Level', 'Not': 'Letter Grade', 'Kayıt drm.': 'Status', 'Dönem': 'Semester'})
df.drop('Skala', axis=1, inplace=True)
df.head()

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Uluslararası Ticaret ve İşletmecilik,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Endüstri Mühendisliği Lisans Programı,A-,Başarıyla tamamlandı,2013 - Bahar

In [3]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    if course_code.split()[1][0] in ['1', '2', '3', '4']:
        df.iloc[row_idx, 4] = 'Undergraduate'
    elif course_code.split()[1][0] in ['5', '6']:
        df.iloc[row_idx, 4] = 'Graduate'
    else:
        df.iloc[row_idx, 4] = 'PhD'
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Undergraduate,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Undergraduate,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Undergraduate,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Undergraduate,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Undergraduate,A-,Başarıyla tamamlandı,2013 - Bahar
...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,Undergraduate,C,Başarıyla tamamlandı,2014 - Bahar
55471,UNI 116,Turkish for International Students II,2315,MGT,Undergraduate,C+,Başarıyla tamamlandı,2014 - Bahar
55472,ENGR 105,Introduction to Engineering,2315,MGT,Undergraduate,IA,Başarısız tamamlandı,2014 - Bahar
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,Undergraduate,S,Başarıyla tamamlandı,2014 - Bahar
55474,ENGR 100,Computer Skills,2315,MGT,Undergraduate,S,Başarıyla tamamlandı,2014 - Bahar

In [4]:
for row_idx in df.index:
    semester_name = df.iloc[row_idx, 7].split(' - ')
    if semester_name[1] == 'Güz':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Fall'
    elif semester_name[1] == 'Bahar':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Spring'
    else:
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Summer'
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Undergraduate,A,Başarıyla tamamlandı,2014 - Spring
1,MGT 201,Principles of Management,713,ITM,Undergraduate,A,Başarıyla tamamlandı,2013 - Fall
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Undergraduate,A,Başarıyla tamamlandı,2012 - Spring
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Undergraduate,A,Başarıyla tamamlandı,2012 - Spring
4,ENGR 244,Engineering Materials,713,IE,Undergraduate,A-,Başarıyla tamamlandı,2013 - Spring
...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,Undergraduate,C,Başarıyla tamamlandı,2014 - Spring
55471,UNI 116,Turkish for International Students II,2315,MGT,Undergraduate,C+,Başarıyla tamamlandı,2014 - Spring
55472,ENGR 105,Introduction to Engineering,2315,MGT,Undergraduate,IA,Başarısız tamamlandı,2014 - Spring
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,Undergraduate,S,Başarıyla tamamlandı,2014 - Spring
55474,ENGR 100,Computer Skills,2315,MGT,Undergraduate,S,Başarıyla tamamlandı,2014 - Spring

In [5]:
for row_idx in df.index:
    if df.iloc[row_idx, 6] == 'Başarıyla tamamlandı':
        df.iloc[row_idx, 6] = 'Successful'
    elif df.iloc[row_idx, 6] == 'Başarısız tamamlandı':
        df.iloc[row_idx, 6] = 'Unsuccessful'
    else:
        df.iloc[row_idx, 6] = 'Recorded'
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Undergraduate,A,Successful,2014 - Spring
1,MGT 201,Principles of Management,713,ITM,Undergraduate,A,Successful,2013 - Fall
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Undergraduate,A,Successful,2012 - Spring
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Undergraduate,A,Successful,2012 - Spring
4,ENGR 244,Engineering Materials,713,IE,Undergraduate,A-,Successful,2013 - Spring
...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,Undergraduate,C,Successful,2014 - Spring
55471,UNI 116,Turkish for International Students II,2315,MGT,Undergraduate,C+,Successful,2014 - Spring
55472,ENGR 105,Introduction to Engineering,2315,MGT,Undergraduate,IA,Unsuccessful,2014 - Spring
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,Undergraduate,S,Successful,2014 - Spring
55474,ENGR 100,Computer Skills,2315,MGT,Undergraduate,S,Successful,2014 - Spring

In [6]:
course_df = pd.read_csv('course_data.csv')
course_df

,course_id,title,credit,ects,theoritical_credit,practical_credit,course_year
0,ADP 101,Touch Typing Techniques I,2,6,1,2,1
1,ADP 102,Touch Typing Techniques II,2,6,1,2,1
2,ADP 103,Fundamental Concepts Of Law,3,5,3,0,1
3,ADP 104,Office Management And Ergonomics,3,5,3,0,1
4,ADP 105,Civil Law,3,5,3,0,1
...,...,...,...,...,...,...,...
1793,YMI 315,Arayüz Tasarımı,3,6,3,0,3
1794,YMI 317,Dijital Hikaye Anlatıcılığı,3,6,3,0,3
1795,YMI 401,Mezuniyet Projesi,4,10,3,2,4
1796,YMI 402,Mezuniyet Projesi Yapımı,4,10,3,2,4
1797,YMI 404,Yeni Medya Alanında Güncel Yaklaşımlar,3,5,3,0,4

In [7]:
df.insert(8, 'Theoritical', 3)
df.insert(9, 'Practical', 0)
df.insert(10, 'Course Credit', 3)
df.insert(11, 'ECTS', 5)
df.insert(12, 'Course Year', 1)

In [8]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    course_title = df.iloc[row_idx, 1]
    title_indices = list(course_df.iloc[:, 1][course_df.iloc[:, 1] == course_title].index)
    code_indices = course_df.iloc[:, 0][course_df.iloc[:, 0] == course_code].index
    for i in title_indices:
        cc_1 = course_code.split()
        cc_2 = course_df.iloc[i, 0].split()
        if course_title == course_df.iloc[i, 1] and 'Summer' not in course_title and cc_1[0] == cc_2[0] and cc_1[1] != cc_2[1]:
            df.iloc[row_idx, 0] = course_df.iloc[i, 0]
            df.iloc[row_idx, 8] = course_df.iloc[i, 4]
            df.iloc[row_idx, 9] = course_df.iloc[i, 5]
            df.iloc[row_idx, 10] = course_df.iloc[i, 2]
            df.iloc[row_idx, 11] = course_df.iloc[i, 3]

In [9]:
for idx in df.index:
    df.iloc[idx, 12] = df.iloc[idx, 0].split()[1][0]
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,IE 316,Engineering Economics,713,IE,Undergraduate,A,Successful,2014 - Spring,3,0,3,5,3
1,MGT 201,Principles of Management,713,ITM,Undergraduate,A,Successful,2013 - Fall,3,0,3,5,2
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Undergraduate,A,Successful,2012 - Spring,3,0,3,5,1
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Undergraduate,A,Successful,2012 - Spring,3,0,3,5,1
4,ENGR 244,Engineering Materials,713,IE,Undergraduate,A-,Successful,2013 - Spring,3,0,3,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,Undergraduate,C,Successful,2014 - Spring,3,0,3,5,4
55471,UNI 116,Turkish for International Students II,2315,MGT,Undergraduate,C+,Successful,2014 - Spring,3,0,3,5,1
55472,ENGR 105,Introduction to Engineering,2315,MGT,Undergraduate,IA,Unsuccessful,2014 - Spring,3,0,3,5,1
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,Undergraduate,S,Successful,2014 - Spring,3,0,3,5,1
55474,ENGR 100,Computer Skills,2315,MGT,Undergraduate,S,Successful,2014 - Spring,3,0,3,5,1

In [10]:
unweight_grades = []
for row_idx in df.index:
    if df.iloc[row_idx, 5] in ['IA', 'S', 'U', 'NP', 'TP']:
        unweight_grades.append(row_idx)        
for idx in unweight_grades:
    df.drop(idx, inplace=True)
df.index = range(len(df))
df

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester,Theoritical,Practical,Course Credit,ECTS,Course Year
0,IE 316,Engineering Economics,713,IE,Undergraduate,A,Successful,2014 - Spring,3,0,3,5,3
1,MGT 201,Principles of Management,713,ITM,Undergraduate,A,Successful,2013 - Fall,3,0,3,5,2
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Undergraduate,A,Successful,2012 - Spring,3,0,3,5,1
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Undergraduate,A,Successful,2012 - Spring,3,0,3,5,1
4,ENGR 244,Engineering Materials,713,IE,Undergraduate,A-,Successful,2013 - Spring,3,0,3,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49342,ITM 416,Special Topics in Inter.Trade,2315,MGT,Undergraduate,B-,Successful,2014 - Spring,3,0,3,5,4
49343,MGT 202,Organizational Behavior,2315,MGT,Undergraduate,B-,Successful,2014 - Spring,3,0,3,5,2
49344,ITM 310,Supply Chain Management,2315,MGT,Undergraduate,C,Successful,2014 - Spring,3,0,3,5,3
49345,ITM 406,Global Business Strategy,2315,MGT,Undergraduate,C,Successful,2014 - Spring,3,0,3,5,4
49346,UNI 116,Turkish for International Students II,2315,MGT,Undergraduate,C+,Successful,2014 - Spring,3,0,3,5,1

In [11]:
df.to_csv('cleaned_dataset.csv', index=False)